In [1]:
print("ok")

ok

In [2]:
'''
mongodb+srv://bishwajyotichaudhary46:Bismuth@123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
'''

'\nmongodb+srv://bishwajyotichaudhary46:Bismuth@123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0\n'

In [8]:
import pandas as pd
from datetime import datetime, timedelta

In [43]:
df = pd.read_csv("final_data.csv")

In [30]:
devanagari_to_english = {
    '०': '0', '१': '1', '२': '2', '३': '3', '४': '4',
    '५': '5', '६': '6', '७': '7', '८': '8', '९': '9'
}

def replace_devanagari_with_eng(text):
    for dev, eng in devanagari_to_english.items():
        text = text.replace(dev, eng)
    return text

In [44]:
df_potato= df[df['Commodity'] == 'आलु रातो']
df_potato = df_potato[['Date', 'Average']]
start_date = datetime(2013, 4, 15)
end_date = datetime.now()
df_potato

              Date   Average
2       04/15/2013  रू १५.००
74      04/16/2013  रू १७.००
144     04/17/2013  रू १८.००
214     04/18/2013  रू १९.००
294     04/21/2013  रू १९.००
...            ...       ...
319871  09/20/2024  रू ७६.६७
320154  09/23/2024  रू ६२.६७
320248  09/24/2024  रू ७७.६७
320341  09/25/2024  रू ७९.००
320435  09/26/2024  रू ८०.००

[4006 rows x 2 columns]

In [46]:
 # Generate the range of dates for the year 2024
date_range = []
current = start_date
end_date = datetime.now()
while current <= end_date:
    date_range.append(current.strftime('%m/%d/%Y'))
    current += timedelta(days=1)

date_range = pd.Index(date_range)
complete_df = pd.DataFrame(date_range, columns=['Date'])
complete_df

            Date
0     04/15/2013
1     04/16/2013
2     04/17/2013
3     04/18/2013
4     04/19/2013
...          ...
4178  09/22/2024
4179  09/23/2024
4180  09/24/2024
4181  09/25/2024
4182  09/26/2024

[4183 rows x 1 columns]

In [47]:
df_potato['Date'] = pd.to_datetime(df_potato['Date'])
df_potato['Date'] = df_potato['Date'].dt.date
df_potato

              Date   Average
2       2013-04-15  रू १५.००
74      2013-04-16  रू १७.००
144     2013-04-17  रू १८.००
214     2013-04-18  रू १९.००
294     2013-04-21  रू १९.००
...            ...       ...
319871  2024-09-20  रू ७६.६७
320154  2024-09-23  रू ६२.६७
320248  2024-09-24  रू ७७.६७
320341  2024-09-25  रू ७९.००
320435  2024-09-26  रू ८०.००

[4006 rows x 2 columns]

In [53]:
final_df = pd.merge(complete_df,df_potato, on=['Date'], how='left')

In [49]:
df_potato['Average'] = df_potato['Average'].str.replace("रू","")

In [50]:
df_potato['Average'] = df_potato['Average'].astype('str').apply(replace_devanagari_with_eng).astype('float')

In [54]:
df_potato

              Date  Average
2       2013-04-15    15.00
74      2013-04-16    17.00
144     2013-04-17    18.00
214     2013-04-18    19.00
294     2013-04-21    19.00
...            ...      ...
319871  2024-09-20    76.67
320154  2024-09-23    62.67
320248  2024-09-24    77.67
320341  2024-09-25    79.00
320435  2024-09-26    80.00

[4006 rows x 2 columns]

In [55]:
df_potato.set_index('Date', inplace=True)

In [56]:
df_potato

            Average
Date
2013-04-15    15.00
2013-04-16    17.00
2013-04-17    18.00
2013-04-18    19.00
2013-04-21    19.00
...             ...
2024-09-20    76.67
2024-09-23    62.67
2024-09-24    77.67
2024-09-25    79.00
2024-09-26    80.00

[4006 rows x 1 columns]

In [57]:
df_potato.fillna(df_potato.ewm(span=7, adjust=False).mean(), inplace=True)

In [58]:
df_potato

            Average
Date
2013-04-15    15.00
2013-04-16    17.00
2013-04-17    18.00
2013-04-18    19.00
2013-04-21    19.00
...             ...
2024-09-20    76.67
2024-09-23    62.67
2024-09-24    77.67
2024-09-25    79.00
2024-09-26    80.00

[4006 rows x 1 columns]

In [59]:
data = df_potato.to_dict(orient='records')
data

[{'Average': 15.0},
 {'Average': 17.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 20.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 25.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 27.0},
 {'Average': 27.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 33.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 27.0},
 {'Average': 27.0},
 {'Average': 27.0},
 {'Average': 29.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 49.0},
 {'Average': 53.0},
 {'Average': 54.0},
 {'Average': 54.0},
 {'Average': 51.0},
 {'Average': 48.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 37.0},
 {'Average': 41.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 41.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 42.0},
 {'Average': 42.0},
 {'Average': 42.0},
 {'Average': 42.0},
 {'Average': 42.0},
 {'Average': 40.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 38.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 35.0},
 {'Average': 34.0},
 {'Average': 33.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 33.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 31.0},
 {'Average': 29.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 33.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 25.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 19.0},
 {'Average': 20.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 23.0},
 {'Average': 17.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 20.0},
 {'Average': 19.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 20.0},
 {'Average': 20.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 26.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 30.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 34.0},
 {'Average': 34.0},
 {'Average': 34.0},
 {'Average': 35.0},
 {'Average': 34.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 39.0},
 {'Average': 38.0},
 {'Average': 40.0},
 {'Average': 38.0},
 {'Average': 41.0},
 {'Average': 39.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 46.0},
 {'Average': 38.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 44.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 42.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 43.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 47.0},
 {'Average': 49.0},
 {'Average': 49.0},
 {'Average': 49.0},
 {'Average': 49.0},
 {'Average': 53.0},
 {'Average': 51.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 51.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 53.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 46.0},
 {'Average': 53.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 46.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 45.0},
 {'Average': 46.0},
 {'Average': 46.0},
 {'Average': 49.0},
 {'Average': 48.0},
 {'Average': 49.0},
 {'Average': 48.0},
 {'Average': 49.0},
 {'Average': 49.0},
 {'Average': 51.0},
 {'Average': 54.0},
 {'Average': 53.0},
 {'Average': 53.0},
 {'Average': 54.0},
 {'Average': 53.0},
 {'Average': 51.0},
 {'Average': 59.0},
 {'Average': 64.0},
 {'Average': 68.0},
 {'Average': 53.0},
 {'Average': 53.0},
 {'Average': 47.0},
 {'Average': 44.0},
 {'Average': 51.0},
 {'Average': 47.0},
 {'Average': 41.0},
 {'Average': 40.0},
 {'Average': 40.0},
 {'Average': 55.0},
 {'Average': 52.0},
 {'Average': 51.0},
 {'Average': 47.0},
 {'Average': 47.0},
 {'Average': 48.0},
 {'Average': 47.0},
 {'Average': 47.0},
 {'Average': 49.0},
 {'Average': 48.0},
 {'Average': 46.0},
 {'Average': 43.0},
 {'Average': 42.0},
 {'Average': 43.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 39.0},
 {'Average': 39.0},
 {'Average': 37.0},
 {'Average': 37.0},
 {'Average': 36.0},
 {'Average': 42.0},
 {'Average': 38.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 41.0},
 {'Average': 39.0},
 {'Average': 36.0},
 {'Average': 41.0},
 {'Average': 39.0},
 {'Average': 33.0},
 {'Average': 34.0},
 {'Average': 35.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 35.0},
 {'Average': 34.0},
 {'Average': 39.0},
 {'Average': 39.0},
 {'Average': 33.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 30.0},
 {'Average': 29.0},
 {'Average': 31.0},
 {'Average': 30.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 25.0},
 {'Average': 27.0},
 {'Average': 24.0},
 {'Average': 22.0},
 {'Average': 24.0},
 {'Average': 22.0},
 {'Average': 25.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 24.0},
 {'Average': 21.0},
 {'Average': 20.0},
 {'Average': 19.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 17.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 17.0},
 {'Average': 16.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 18.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 16.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 19.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 19.0},
 {'Average': 18.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 18.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 16.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 16.0},
 {'Average': 16.0},
 {'Average': 17.0},
 {'Average': 16.0},
 {'Average': 16.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 17.0},
 {'Average': 20.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 35.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 24.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 25.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 27.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 34.0},
 {'Average': 34.0},
 {'Average': 32.0},
 {'Average': 25.0},
 {'Average': 27.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 30.0},
 {'Average': 31.0},
 {'Average': 30.0},
 {'Average': 28.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 32.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 38.0},
 {'Average': 41.0},
 {'Average': 39.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 39.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 38.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 36.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 38.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 36.0},
 {'Average': 40.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 35.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 36.0},
 {'Average': 36.0},
 {'Average': 37.0},
 {'Average': 34.0},
 {'Average': 34.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 28.0},
 {'Average': 26.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 35.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 30.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 29.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 27.0},
 {'Average': 21.0},
 {'Average': 23.0},
 {'Average': 21.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 24.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 23.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 22.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 21.0},
 {'Average': 23.0},
 {'Average': 24.0},
 {'Average': 24.0},
 {'Average': 23.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 26.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 24.0},
 {'Average': 26.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 28.0},
 {'Average': 28.0},
 {'Average': 27.0},
 {'Average': 31.0},
 {'Average': 31.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 30.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 33.0},
 {'Average': 38.0},

In [64]:
from urllib.parse import quote_plus

# Your username and password
username = "bishwajyotichaudhary46"
password = "Bismuth@123"

# Escape the username and password according to RFC 3986
escaped_username = quote_plus(username)
escaped_password = quote_plus(password)

In [65]:
DB_NAME = "Kalimati-Database"
COLLECTION_NAME = "kalimati_data"
CONNECTION_URL = f"mongodb+srv://{escaped_username}:{escaped_password}@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [61]:
import pymongo

In [66]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]
rec = collection.insert_many(data)

In [67]:
fetch_data = pd.DataFrame(list(collection.find()))
fetch_data

                           _id  Average
0     66f50f456932b4064f1ab7cd    15.00
1     66f50f456932b4064f1ab7ce    17.00
2     66f50f456932b4064f1ab7cf    18.00
3     66f50f456932b4064f1ab7d0    19.00
4     66f50f456932b4064f1ab7d1    19.00
...                        ...      ...
4001  66f50f456932b4064f1ac76e    76.67
4002  66f50f456932b4064f1ac76f    62.67
4003  66f50f456932b4064f1ac770    77.67
4004  66f50f456932b4064f1ac771    79.00
4005  66f50f456932b4064f1ac772    80.00

[4006 rows x 2 columns]